USE [master]
GO
/****** Object:  Database [Coffe_Shop]    Script Date: 9/28/2026 4:58:07 PM ******/
CREATE DATABASE [Coffe_Shop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Coffe_Shop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Coffe_Shop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Coffe_Shop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Coffe_Shop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Coffe_Shop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Coffe_Shop]
GO
/****** Object:  Table [dbo].[History]    Script Date: 9/28/2026 4:58:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[History](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[OrderName] [nvarchar](100) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
	[SaleDate] [datetime] NOT NULL,
 CONSTRAINT [PK_History] PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 9/28/2026 4:58:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(101,1) NOT NULL,
	[StaffID] [nvarchar](20) NOT NULL,
	[OrderName] [nvarchar](100) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentDetails]    Script Date: 9/28/2026 4:58:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentDetails](
	[PaymentDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[PaymentID] [int] NOT NULL,
	[StaffID] [nvarchar](20) NOT NULL,
	[OrderName] [nvarchar](100) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[TotalPayment] [decimal](10, 2) NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
 CONSTRAINT [PK_PaymentDetails] PRIMARY KEY CLUSTERED 
(
	[PaymentDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 9/28/2026 4:58:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[StaffID] [nvarchar](20) NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
	[Method] [nvarchar](50) NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 9/28/2026 4:58:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[StaffID] [nvarchar](20) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Sex] [nvarchar](10) NULL,
	[Age] [int] NULL,
	[Address] [nvarchar](200) NULL,
	[Phone] [nvarchar](30) NULL,
	[Email] [nvarchar](100) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Position] [nvarchar](50) NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[History]  WITH CHECK ADD  CONSTRAINT [FK_History_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[History] CHECK CONSTRAINT [FK_History_Orders]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Staff] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Staff]
GO
ALTER TABLE [dbo].[PaymentDetails]  WITH CHECK ADD  CONSTRAINT [FK_PaymentDetails_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[PaymentDetails] CHECK CONSTRAINT [FK_PaymentDetails_Orders]
GO
ALTER TABLE [dbo].[PaymentDetails]  WITH CHECK ADD  CONSTRAINT [FK_PaymentDetails_Payments] FOREIGN KEY([PaymentID])
REFERENCES [dbo].[Payments] ([PaymentID])
GO
ALTER TABLE [dbo].[PaymentDetails] CHECK CONSTRAINT [FK_PaymentDetails_Payments]
GO
ALTER TABLE [dbo].[PaymentDetails]  WITH CHECK ADD  CONSTRAINT [FK_PaymentDetails_Staff] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[PaymentDetails] CHECK CONSTRAINT [FK_PaymentDetails_Staff]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Orders]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Staff] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Staff]
GO
/****** Object:  StoredProcedure [dbo].[AddStaff]    Script Date: 9/28/2026 4:58:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==========================================
-- ADD STAFF
-- ==========================================
CREATE   PROCEDURE [dbo].[AddStaff]
    @StaffID NVARCHAR(20),
    @FullName NVARCHAR(100),
    @Sex NVARCHAR(10),
    @Age INT,
    @Address NVARCHAR(200),
    @Phone NVARCHAR(30),
    @Email NVARCHAR(100),
    @Position NVARCHAR(50),
    @Status NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Staff
    (
        StaffID,
        FullName,
        Sex,
        Age,
        Address,
        Phone,
        Email,
        Position,
        Status
    )
    VALUES
    (
        @StaffID,
        @FullName,
        @Sex,
        @Age,
        @Address,
        @Phone,
        @Email,
        @Position,
        @Status
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[DeactivateStaff]    Script Date: 9/28/2026 4:58:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ==========================================
-- DEACTIVATE STAFF
-- ==========================================
CREATE   PROCEDURE [dbo].[DeactivateStaff]
    @StaffID NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Staff
    SET Status = 'Inactive'
    WHERE StaffID = @StaffID;
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteStaff]    Script Date: 9/28/2026 4:58:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[DeleteStaff]
    @StaffID NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Staff
    WHERE StaffID = @StaffID;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllActiveStaff]    Script Date: 9/28/2026 4:58:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ==========================================
-- GET ACTIVE STAFF ONLY
-- ==========================================
CREATE   PROCEDURE [dbo].[GetAllActiveStaff]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        StaffID,
        FullName,
        Sex,
        Age,
        Address,
        Phone,
        Email,
        Position,
        Status
    FROM Staff
    WHERE Status = 'Active'
    ORDER BY StaffID;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllStaff]    Script Date: 9/28/2026 4:58:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[GetAllStaff]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        StaffID,
        FullName,
        Sex,
        Age,
        Address,
        Phone,
        Email,
        Position,
        Status
    FROM Staff
    ORDER BY StaffID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AddOrder]    Script Date: 9/28/2026 4:58:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AddOrder]
    @StaffID NVARCHAR(20),
    @OrderName NVARCHAR(100),
    @OrderDate DATETIME,
    @Quantity INT,
    @Price DECIMAL(10,2)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.Orders
    (
        StaffID,
        OrderName,
        OrderDate,
        Quantity,
        Price,
        Total
    )
    VALUES
    (
        @StaffID,
        @OrderName,
        @OrderDate,
        @Quantity,
        @Price,
        @Quantity * @Price
    );

    SELECT CAST(SCOPE_IDENTITY() AS INT) AS OrderID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetOrders]    Script Date: 9/28/2026 4:58:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetOrders]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        o.OrderID,
        o.OrderName,
        o.Quantity,
        o.Price,
        o.Total
    FROM dbo.Orders o
    ORDER BY o.OrderID DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetStaff]    Script Date: 9/28/2026 4:58:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetStaff]
AS
BEGIN
    SELECT StaffID, FullName
    FROM Staff
    WHERE Status = 'Active'
    ORDER BY FullName;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateStaff]    Script Date: 9/28/2026 4:58:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ==========================================
-- UPDATE STAFF
-- ==========================================
CREATE   PROCEDURE [dbo].[UpdateStaff]
    @StaffID NVARCHAR(20),
    @FullName NVARCHAR(100),
    @Sex NVARCHAR(10),
    @Age INT,
    @Address NVARCHAR(200),
    @Phone NVARCHAR(30),
    @Email NVARCHAR(100),
    @Position NVARCHAR(50),
    @Status NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Staff
    SET
        FullName = @FullName,
        Sex = @Sex,
        Age = @Age,
        Address = @Address,
        Phone = @Phone,
        Email = @Email,
        Position = @Position,
        Status = @Status
    WHERE StaffID = @StaffID;
END;
GO
USE [master]
GO
